* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 320px;
  background: #111;
  padding: 20px;
  border-radius: 20px;
}

#display {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: right;
  padding: 10px;
  background: #222;
  color: white;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  background: #333;
  color: white;
}

button:hover {
  background: #555;
}

.equal {
  background: #00c2a8;
  color: black;
}

.zero {
  grid-column: span 2;
  border-radius: 40px;
}
